:root {
  --size: 130px;
  --lineWidth: 10px;
}

.progress-bar {
  --progressInDeg: calc(((var(--progress) * 360) / 100) * 1deg);

  width: var(--size);
  background: conic-gradient(
    #005cff,
    #005cff var(--progressInDeg),
    #eaf0f6 var(--progressInDeg),
    #eaf0f6
  );
}

.progress-bg {
  width: calc(var(--size) - 2 * var(--lineWidth));
  background: #fff;
}

.progress-bar,
.progress-bg {
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-rotate {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
    display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  aspect-ratio: 2/1;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #dae6ec;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  aspect-ratio: 1;
  top: 1px;
  left: 1px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #005cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #005cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
