body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

#progress-value {
  width: 40px;
  border-radius: 34px;
  outline: none;
  border: 1px solid #000;
  text-align: center;
  padding: 0;
}

#progress-value:focus {
  border-color: #005cff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  aspect-ratio: 2/1;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #dae6ec;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  aspect-ratio: 1;
  top: 1px;
  left: 1px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #005cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #005cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: #eaf0f6;
  border: 1px solid black;
  border-radius: 34px;
  height: 30px;
}

button:hover {
  background-color: hsl(210, 40%, 86%);
}

button:active {
  background-color: hsl(210, 40%, 75%);
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
  }
}
